<section class="container login">
    <div class="row login-section">
        <form class="col-md-6" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group center-block">
                <label for="login">Login</label>
                <input class="form-control" id="login" type="text" class="form-control" placeholder="Login" formControlName="login">
            </div>
            <div class="form-group center-block">
                <label for="password">Password</label>
                <input class="form-control" id="password" type="password" class="form-control" placeholder="Password" formControlName="password">
            </div>
            <button class="btn btn-primary center-block mt-2" [disabled]="!loginForm.valid" type="submit">Se connecter</button>
            <button class="btn btn-danger center-block mt-2" type="submit" type="button" (click)="onErrorButton()">Erreur bouton!</button>
            <span class="bg-danger feedback" *ngIf="feedback.active">{{ feedback.feedback }}</span>
        </form>
    </div>
</section>